<div class="container">
    <div class="col-md-12">
        <h2 class="text-center">{{titulo}}</h2>
        <div class="row">
            <div class="col-md-4">
                <app-imagen-archivo titulo="Foto de Vehículo *" idImagen="1" [imagenUrl]="imagenUrlFoto" (cargarImagen)="cargarImagenFotoVehiculo($event)"></app-imagen-archivo>
                <hr>
                <app-imagen-archivo titulo="Foto de Revisión Técnica" idImagen="2" [imagenUrl]="imagenUrlFotoRevTec" (cargarImagen)="cargarImagenFotoRevisionTecnica($event)"></app-imagen-archivo>
                <hr>
                <app-imagen-archivo titulo="Foto Soat" idImagen="3" [imagenUrl]="imagenUrlFotoSoat" (cargarImagen)="cargarImagenFotoSoat($event)"></app-imagen-archivo>
            </div>
            <div class="col-md-8">
                <div *ngIf="showToast" class="alert alert-dismissible alert-success">
                    <strong>{{titleToast}}!!!</strong><br><a>{{bodyToast}}</a>.
                </div>
                <form class="login-form" [formGroup]="formV">
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label class="text-uppercase">Placa *</label>
                                <input type="text" class="form-control" formControlName="placa">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label class="text-uppercase">Capacidad *</label>
                                <input type="text" class="form-control" formControlName="capacidad">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-uppercase">Tipo de Unidad</label>
                        <select class="form-control" formControlName="tipoUnidad">
                            <option>Ciclomotor</option>
                            <option>Autocar</option>
                            <option>SITREN</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="text-uppercase">Proveedor</label>
                        <input type="text" class="form-control" formControlName="proveedor">
                    </div>
                    <div class="form-group">
                        <label class="text-uppercase">Fecha de Vencimiento Soat</label>
                        <div class="input-group">
                            <input class="form-control" formControlName="fechaVencimientoSoat" ngbDatepicker #d="ngbDatepicker" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar" type="button" (click)="d.toggle()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-uppercase">Fecha de Vencimiento de Revisión Técnica</label>
                        <div class="input-group">
                            <input class="form-control" formControlName="fechaVencimientoRevisionTecnica" ngbDatepicker #d1="ngbDatepicker" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar" type="button" (click)="d1.toggle()"></button>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-danger float-right btn-config" (click)="cerrar()">Cancelar</button>
                    <button [disabled]="!formV.valid" type="submit" class="btn btn-primary float-right btn-config" (click)="guardarCambios(true)">Aceptar</button>
                    <button *ngIf="idVehiculo === ''" [disabled]="!formV.valid" type="submit" class="btn btn-primary float-right btn-config" (click)="guardarCambios(false)">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>
