.container {
    position: absolute;
    top: 15%;
    left: 10%;
    margin-top: -50px;
    margin-left: -50px;
}

h2 {
    font-weight: bold;
    margin-bottom: 40px;
}

button[type="submit"] {
    margin-left: 10px;
}

hr {
    border: 0;
    border-top: 2px solid #999;
    border-bottom: 2px solid #333;
    height: 0;
}